@import url("../active-palette.css");

* {
  background-color: var(--bg);
  color: var(--fg);
}

window {
  background-color: var(--bg);
}

button {
  background-color: var(--surface1);
  color: var(--fg);
}

button:hover {
  background-color: var(--surface2);
}

